/*article {*/
/*    width: 90%;*/
/*}*/
p {
    font-size: 20px;
    margin: 0 0 20px;
    line-height: 1.75em;
    text-indent: 20px;
    /*hyphens: auto;*/
    text-align: justify;
    /*font-family: 'Lato','Open Sans','Helvetica Neue','Arial','San-serif';*/
}