{% extends 'base.html' %}

{% block title %}
    {{ dataset.name }}
{% endblock %}


{% block content %}
    <h1>{{ dataset.name }}</h1>

    <p class="mb-4 font-weight-light">
        {% if dataset.type == "Apr" %}
            Датасет для задачи аппроксимации
        {% elif dataset.type == "Cls" %}
            Датасет для задачи классификации
        {% endif %}
    </p>

    <hr>
    <p class="lead">
        {{ dataset.description }}
    </p>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Оригинальный набор данных ➞ <a href="//{{ dataset.file_link }}" target="_blank"
                                                                       class="badge badge-primary"> здесь</a></li>
            <li class="list-group-item">Количество признаков: <span
                    class="badge badge-info">{{ dataset.features }}</span></li>
            {% if dataset.type == "Cls" %}
                <li class="list-group-item">Количество классов: <span
                        class="badge badge-info">{{ dataset.classes }}</span></li>
            {% endif %}
        </ul>
    </div>
    <br>

    <h2>Результаты</h2>
    {% block results %}
        {% if results %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Алгоритм</th>
                        <th scope="col">
                            {% if dataset.type == "Cls" %}
                                Точность
                            {% elif dataset.type == "Apr" %}
                                RMSE
                            {% endif %}
                            обучения
                        </th>
                        <th scope="col">
                            {% if dataset.type == "Cls" %}
                                Точность
                            {% elif dataset.type == "Apr" %}
                                RMSE
                            {% endif %}
                            тестирования
                        </th>
                        <th scope="col">Количество признаков</th>
                        <th scope="col">Количество правил</th>
                        <th scope="col">Методика эксперимента</th>
                        <th scope="col"></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for result in  results %}
                        <tr>
                            <td><a href="{% url 'datasets:results_list_url' id=result.user_id.id %}" class="text-primary" title="{{ result.user_id.get_full_name }}">{{ result.user_id.username }}</a></td>
                            <td>{{ result.algorithm }}</td>
                            <td>{{ result.learning_result }}</td>
                            <td>{{ result.test_result }}</td>
                            <td>{{ result.features }}</td>
                            <td>{{ result.rules }}</td>
                            <td>{{ result.method }}</td>
                            <td>
                                {% if result.user_id.id == request.user.id %}
                                    <a href="{{ result.get_update_url }}" class="btn btn-sm btn-info mb-1 mt-1">Редактировать</a>
                                    <a href="{{ result.get_delete_url }}" class="btn btn-sm btn-danger mb-1 mt-1">Удалить</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="mt-3 text-muted">Результатов пока нет...</p>
        {% endif %}
        <div class="text-center mt-3 mb-3">
            <a class="btn btn-primary" href="{% url 'datasets:result_create_url' %}?dataset={{ dataset }}"
               role="button">Добавить свой результат</a>
        </div>

    {% endblock %}

{% endblock %}
