{% extends 'base.html' %}

{% block title %}
  Датасеты
{% endblock %}


{% block content %}
<h1 class="mb-4">{% block heading %}Датасеты{% endblock %}</h1>

{% for dataset in datasets %}
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">{{ dataset.name }}</h5>
    <p class="card-text"> {{ dataset.description|truncatewords:14}} </p>
    <a href="{{ dataset.get_absolute_url }}" class="btn btn-primary">Перейти к датасету</a>
  </div>
</div>
{% endfor %}
{% endblock %}
