{% extends 'base.html' %}

{% block title %}
    Изменить результат
{% endblock %}

{% block content %}
    <h1 class="text-center mt-5 mb-5">Изменение результата для "{{ result.dataset_id }}"</h1>

    <div class="row justify-content-center">

        <div class="col-5">
            <form action="." method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    <div class="">
                        {% if field.name != "dataset_id" %}

                                {{ field.label }}
                        {% endif %}
                        {{ field }}
                    </div>

                    </div>
                {% endfor %}

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Внести изменения</button>
                    </div>
            </form>

        </div>
    </div>
{% endblock %}
