{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center mt-5 mb-5">Добавить результат для "{{ dataset }}"</h1>

    <div class="row justify-content-center">

        <div class="col-5">
            <form class="" action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        <div class="form-group">
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            {#        не давать пользователю возмжоность заполнить поля "датасет" и "пользователь"#}
                            {#        {% if field.name != "dataset_id" and field.name != "user_id" %}#}
                            {% if field.name != "dataset_id" %}

                                {{ field.label }}
                            {% endif %}

                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}


{#{% block content %}#}
{##}
{#<form action="." method='POST'> {% csrf_token %}#}
{#	{{ form.as_p }}#}
{#	<input type="submit" value="Save">#}
{#</form>#}
{##}
{#<!-- action - куда перенесёт после сабмита (к-то ссылка); csrf_token - безопасность джанго, без токена не робит -->#}
{#<!--<form action='.' method="POST"> {% csrf_token %}#}
{#	<input type="text" name="title" placeholder="Your title">#}
{#	<input type="submit" value="Save">#}
{#</form> -->#}
{#<!-- <form method='POST'> {% csrf_token %}#}
{#	{{ form.as_p }}#}
{#	<input type="submit" value="Save">#}
{#</form> -->#}
{#{% endblock %}#}