{% extends 'base.html' %}

{% block title %}
    Удалить результат для "{{ result.dataset_id }}"
{% endblock %}

{% block content %}
    <h1 class="text-center mt-5 mb-5">Удалить результат для "{{ result.dataset_id }}"</h1>
    <form action="." method="post">
        {% csrf_token %}
        <div class="alert alert-warning" role="alert">Вы уверены, что хотите удалить результат для датасета "{{ result.dataset_id }}"?</div>
{#        <h2 class="mb-5">Вы уверены, что хотите удалить результат для "{{ result.dataset_id }}"?</h2>#}
        <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Алгоритм</th>
                        <th scope="col">
                            {% if result.dataset_id.type == "Cls" %}
                                Точность
                            {% elif result.dataset_id.type == "Apr" %}
                                RMSE
                            {% endif %}
                            обучения
                        </th>
                        <th scope="col">
                            {% if result.dataset_id.type == "Cls" %}
                                Точность
                            {% elif result.dataset_id.type == "Apr" %}
                                RMSE
                            {% endif %}
                            тестирования
                        </th>
                        <th scope="col">Количество признаков</th>
                        <th scope="col">Количество правил</th>
                        <th scope="col">Методика эксперимента</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ result.algorithm }}</td>
                            <td>{{ result.learning_result|floatformat }}</td>
                            <td>{{ result.test_result|floatformat }}</td>
                            <td>{{ result.features }}</td>
                            <td>{{ result.rules }}</td>
                            <td>{{ result.method }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="row justify-content-around">
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{{ result.dataset_id.get_absolute_url }}" class="btn btn-info">Отмена</a>
        </div>
    </form>
{% endblock %}