{% extends 'base.html' %}

{% block title %}
    Результаты {{ user }}
{% endblock %}

{% block content %}

    <h2 class="mb-4">Результаты пользователя {{ user }}</h2>
        {% if results %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="align-middle text-center" scope="col">Датасет</th>
                        <th class="align-middle text-center" scope="col">Алгоритм</th>
                        <th class="align-middle text-center" scope="col">
                            Результаты при обучении
                        </th>
                        <th class="align-middle text-center" scope="col">
                            Результаты при тестировании
                        </th>
                        <th class="align-middle text-center" scope="col">Количество признаков</th>
                        <th class="align-middle text-center" scope="col">Количество правил</th>
                        <th class="align-middle text-center" scope="col">Методика эксперимента</th>
                        <th class="align-middle text-center" scope="col"></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for result in  results %}
                        <tr>
                            <td class="align-middle text-center"><a class="btn btn-outline-primary btn-sm" href="{{ result.dataset_id.get_absolute_url }}">{{ result.dataset_id }}</a></td>
                            <td class="align-middle">{{ result.algorithm }}</td>
                            <td class="align-middle text-center">{{ result.learning_result }}</td>
                            <td class="align-middle text-center">{{ result.test_result }}</td>
                            <td class="align-middle text-center">{{ result.features }}</td>
                            <td class="align-middle text-center">{{ result.rules }}</td>
                            <td class="align-middle">{{ result.method }}</td>
                            <td class="align-middle">
                                {% if result.user_id.id == request.user.id %}
                                    <a href="{{ result.get_update_url }}" class="btn btn-sm btn-info mb-1 mt-1">Редактировать</a>
                                    <a href="{{ result.get_delete_url }}" class="btn btn-sm btn-danger mb-1 mt-1">Удалить</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="mt-3 text-muted">Результатов пока нет...</p>
        {% endif %}
{% endblock %}