{% extends 'base.html' %}

{% block content %}

  <h1 class="text-center mt-5 mb-5">Авторизация</h1>

<div class="row justify-content-center">

  <div class="col-5">
    <form class="" action="." method="post">
      {% csrf_token %}
      <div class="form-group">
        {% for field in form %}
        <div class="form-group">
          {% if field.errors %}
          <div class="alert alert-danger">
            {{ field.errors }}
          </div>
          {% endif %}
          {{ field.label }}
          {{ field }}
        </div>
        {% endfor %}
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary">Войти</button>
        </div>
      </div>
    </form>

    <div class="text-center">
      <a href="/admin">Войти в панель администратора</a>
    </div>

  </div>
</div>

{% endblock %}
