{% extends 'base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'datasets/css/styles.css' %}">
{% endblock %}

{% block title %}
    Machine learning results storage
{% endblock %}
{% block content %}
    <h1 class="mb-4">Сайт научной группы исследования нечетких систем</h1>
    <article lang="ru">
        <p>
            Научная группа Томского государственного университета систем управления и радиоэлектроники, функционирующая
            под руководством профессора, доктора технических наук Ходашинского Ильи Александровича, является
            подразделением лаборатории «Съема, анализа и управления биологическими сигналами». Исследования посвящены
            разработке моделей машинного обучения, изучению алгоритмов оптимизации, созданию программных продуктов для
            решения прикладных задач информационной безопасности, медицины и других областей. В составе научной группы
            работают доктор и кандидат технических наук, аспиранты и студенты факультета безопасности.
        </p>
        <p>
            Сайт посвящен сравнению результатов экспериментов, проводимых научной группой, а также предназначен для
            публикации новостей о достижениях участников. В настоящее время ресурс функционирует в тестовом режиме.
        </p>
    </article>
{% endblock %}
